/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

body {
    overflow: hidden;
    margin: 0;
   
}



header{
    width: 100vw;
    height: 110px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins';
    background:rgba(0,0,0,0.5);
    position:fixed;
    left:0;
    top:0;
}

header .inner{
    width: 1300px; /* This is the inner width of the content inside of your header (80%, etc) */
    height: 100%;
    display: block;
    margin: 0 auto;
}

header .logo{
    align-items: center;
    width: 100%;
    height: 50px;
    padding-left: 470px;
    line-height: 50px;
    position: absolute;
    bottom: 60px;
}

header .logo div{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

header .logo img{
    height: 110px;
    margin-top: 4px; /* Optical alignment of the logo */
}
  

footer{
    background:rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    line-height: 50px;
    position: absolute;
    bottom: 0px;
    font-family: 'Poppins', sans-serif;
}
footer span a{
    color: #FF1515;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 600px){
    .footer {
        text-align: center;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    line-height: 50px;
    position: absolute;
    bottom: 0px;
    }

    .header{      
    width: 100%;
    height: 50px;
    padding-left: 20px;
    line-height: 50px;
    position: absolute;
    bottom: 60px;  
    }
}